<br><br>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://img.freepik.com/free-photo/top-view-unrecognizable-hacker-performing-cyberattack-night_1098-18706.jpg?w=740&t=st=1710179140~exp=1710179740~hmac=ab8628dadba532dba07adad6c88ce828410f79a78883bf6bf3c77837be0b117c" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Desarrollador</h5>
          <p class="card-text">Mi nombre es 'Diego Salinas Vazquez', soy estudiante de la Universidad Tecnológica de San Juan del Río (UTSJR), y estoy cursando la ingeniería en Desarrollo y Gestión de Software</p>
          <p class="card-text"><small class="text-body-secondary">Actualmente tengo 20 años</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]=img class="img-fluid rounded-start" alt="...">
        <!-- <img src='/assets/img/img1.png' class="img-fluid rounded-start" alt="..."> -->
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Pasatiempos</h5>
          <p class="card-text">Mis pasatiempos es jugar videojuegos (League of Legends y Forza Horizon 5), y hacer deporte, aunque, por la universidad no juego actualmente, me gusta mucho el tocho y el futbol americano</p>
        </div>
      </div>
    </div>
  </div>

